<%= form_for(@exhibition) do |f| %>
  <% if @exhibition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibition.errors.count, "error") %> prohibited this exhibition from being saved:</h2>

      <ul>
      <% @exhibition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallery %><br />
    <%= f.text_area :gallery %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
    <%= field_set_tag 'Select your artworks for the exhibition' do %>
      <%= hidden_field_tag "exhibition[artwork_ids][]", nil %>
      <% Artwork.all.each do |artwork| %>
        <%= check_box_tag "exhibition[artwork_ids][]", artwork.id, @exhibition.artwork_ids.include?(artwork.id), id: dom_id(artwork) %>
        <%= label_tag dom_id(artwork), artwork.title %><br/>
      <% end %>
    <% end %>
  </fieldset>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
