<h1>Exhibitions</h1>

<ul>
  <li><%= link_to "All", exhibitions_path %></li> 
  <li><%= link_to "Future", future_exhibitions_path %></li>
  <li><%= link_to "Past", past_exhibitions_path %></li>  
</ul>

<table>
  <thead>
    <tr>
      <th>Gallery</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exhibitions.each do |exhibition| %>
    <tr>
      <td><%= exhibition.gallery %></td>
      <td><%= exhibition.start_date %></td>
      <td><%= exhibition.end_date %></td>
      <td><%= link_to 'Show', exhibition %></td>
      <td><%= link_to 'Edit', edit_exhibition_path(exhibition) %></td>
      <td><%= link_to 'Destroy', exhibition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Exhibition', new_exhibition_path %>
